@mixin def-header{
    font-weight: 600;
    font-size: $header-size;
    color: $header-color;
}

@mixin def-link{
    font-weight: 500;
    font-size: $nav-size;
    color: $header-color;
    text-decoration: none;
}

@mixin def-text{
    color: $text-color;
    font-weight: 400;
    font-size: text-size;
}

@mixin centered-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin rounded-window($radius, $shadow: 0 0 0 black){
    border-radius: $radius;
    box-shadow: $shadow;
}