@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Jura:wght@300..700&display=swap');

$main-bacground-color: #F9F9F9;
$div-background-color: #FFFFFF;
$header-color: #3185FC;
$text-color: #545261;

$header-size: 26px;
$text-size: 16px;
$nav-size: 18px;

$logo-font: 'Bungee', 'sans-serif';
$main-font: 'Jura', 'sans-serif';