@import 'functions';
@import 'keyframes';
@import 'mixins';
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    list-style-type: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: $main-bacground-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 80px;
    background-color: $div-background-color;
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 4px 4px #e3e3e3;
    transform: translateY(-300px);
    animation: header-appearing .5s 1 forwards;
    z-index: 100;

    .logo{
        @include def-header;
        margin-left: 47px;
        font-family: $logo-font;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-right: 47px;

        .navigation-link{
            @include def-link;
            display: flex;
            align-items: center;
            justify-content: start;
            text-decoration: none;

            .navigation-image{
                width: 16px;
                height: 16px;
                margin: 5px;
            }
        }
    }
}

main{
    @include centered-items;
    justify-content: space-around;
    opacity: 0;
    animation: page-appearing 1s 1 .5s forwards;
    margin-top: 90px;
    width: 100%;
    height: 100%;

    .user-container, .info-container{
        @include centered-items;
        @include rounded-window(20px, 0 4px 4px #E7E7E7);
        flex-direction: column;
        justify-content: space-around;
        background-color: $div-background-color;
        width: 25%;
        height: 70%
    }
    .header-container{

        @include centered-items;
        justify-content: left;

        .header-image{
            width: 32px;
            height: 32px;
        }
    
        .def-header{
            @include def-header;
            padding: 5px;
        }
    }

    .current-user-container{
        @include centered-items;
        @include rounded-window(20px, 1px 1px 8px #E7E7E7);
        flex-direction: column;
        margin: 20px;

        .user-info-container{
            @include centered-items;
            padding: 20px;

            .user-avatar{
                width: 85px;
                height: 85px;
            }

            .user-name{
                color: $text-color;
                font-weight: 500;
                font-size: 26px;
                margin-left: 10px;
            }
        }

        .user-info{
            @include def-text;
            padding: 10px;
        }
    }

    .posts-container{

    }

    .messages-container{
        @include centered-items;
        flex-direction: column;

        .user-message-container{
            @include centered-items;
            padding: 5px;
    
            .message-avatar{
                width: 60px;
                height: 60px;
            }
        }
    }

    .list-container{
        width: 100%;
        padding: 0 10%;

        .friend-container{
            @include centered-items;
            justify-content: start;
            .small-avatar{
                width: 32px;
                height: 32px;
                margin: 5px;
            }
        }
    }
}