@import 'keyframes';
@import 'mixins';
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    list-style-type: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: $main-bacground-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 80px;
    background-color: $div-background-color;
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 4px 4px #e3e3e3;
    transform: translateY(-300px);
    animation: header-appearing .5s 1 forwards;
    z-index: 100;
            
    @media (min-width: 1200px){
        flex-direction: column;
        height: 100px;
        margin: 5px;
    }

    .logo{
        @include def-header;
        margin-left: 47px;
        font-family: $logo-font;

        @media (max-width: 768px) {
            display: none;
        }
            
        @media (min-width: 1200px){
            font-size: $header-size + 10px;
        }
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-right: 47px;

        @media (max-width: 768px) {
            width: 100%;
            margin-right: 0;
            padding: 20px;
        }
            
        @media (min-width: 1200px){
            width: 90%;
        }

        .navigation-link{
            @include def-link;
            display: flex;
            align-items: center;
            justify-content: start;
            text-decoration: none;
            
            @media (min-width: 1200px){
                font-size: $nav-size + 10px;
            }

            .navigation-image{
                width: 16px;
                height: 16px;
                margin: 5px;
            
                @media (min-width: 1200px){
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
}

main{
    @include centered-items;
    justify-content: space-around;
    align-items: start;
    opacity: 0;
    animation: page-appearing 1s 1 .5s forwards;
    margin-top: 90px;
    width: 100%;
    height: 100%;
            
    @media (min-width: 1200px){
        margin-top: 110px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .user-container, .info-container{
        @include centered-items;
        @include rounded-window(20px, 0 4px 4px #E7E7E7);
        flex-direction: column;
        justify-content: space-around;
        background-color: $div-background-color;
        width: 25%;
        height: 70%;

        @media (max-width: 768px) {
            display: none;
        }
            
        @media (min-width: 1200px){
            width: 30%;
        }
    }
    .header-container{

        @include centered-items;
        justify-content: left;

        .header-image{
            width: 32px;
            height: 32px;
        }
    
        .def-header{
            @include def-header;
            padding: 5px;
        }
    }

    .themes-container{
        @include centered-items;
        flex-direction: column;
        align-items: start;
        padding: 10px;

        .themes-item{
            margin: 5px;
            cursor: pointer;

            &:hover{
                animation: hovered-item .5s 1 forwards;
            }
        }
    }

    .current-user-container{
        @include centered-items;
        @include rounded-window(20px, 1px 1px 8px #E7E7E7);
        flex-direction: column;

        .user-info-container{
            @include centered-items;
            justify-content: left;
            width: 100%;
            padding: 20px;

            .user-avatar{
                width: 85px;
                height: 85px;
            }

            .user-name{
                @include def-header;
                color: $text-color;
                margin-left: 10px;
            }
        }

        .user-info{
            @include def-text;
            padding: 10px;
            margin-bottom: 10px;
            width: 70%;
        }
    }

    .posts-container{
        width: 30%;

        @media (max-width: 768px) {
            width: 80%;
        }
        .post-container{
            @include rounded-window(10px, 0 0 5px gray);
            @include centered-items;
            justify-content: start;
            background-color: $div-background-color;
            width: 100%;
            min-height: 100px;
            height: auto;
            margin: 20px;
            padding: 10px;
            
            @media (min-width: 1200px){
                min-height: 200px;
            }

            .post{
                @include def-text;
            
                @media (min-width: 1200px){
                    font-size: $text-size + 10px;
                }
            }
        }
    }

    .messages-container{
        @include centered-items;
        align-items: start;
        flex-direction: column;
        width: 85%;

        .header-container{
            margin: 10px;
        }

        .user-message-container{
            @include centered-items;
            justify-content: start;
            padding: 5px;
    
            .message-avatar{
                width: 60px;
                height: 60px;
            }

            .message-container{
                @include centered-items;
                flex-direction: column;
                align-items: start;
                width: 70%;
                .message-time{
                    color: $time-color;
                    font-size: 12px;
                }
            }
        }
    }

    .list-container{
        width: 100%;
        padding: 0 10%;

        .friend-container{
            @include centered-items;
            justify-content: start;
            .small-avatar{
                width: 32px;
                height: 32px;
                margin: 5px;
            }
        }
    }
}